* {
  margin: 0;
}
body {
  // background-color: #f5f5f5;
  font-family: -apple-system, "Segoe UI", "Helvetica Neue",
    "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
  background: #f6f8f9;
}

.container {
  max-width: 1420px;
  background-color: white;
  margin: auto;
}
@media screen and (max-width: 1548px) {
  .container {
    margin: 0 64px;
  }
}

.hoge {
  color: $secondary;
}

.py-l {
  padding-top: $large;
  padding-bottom: $large;
}

.mr-m {
  margin-right: $medium;
}

.mb-m {
  margin-bottom: $medium;
}

.button {
  &.success {
    color: white;
    background-color: #3da9fc;
    border-color: white;
    box-shadow: none;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    padding: 8px 0;

    &:hover {
      background-color: #2d99ec;
    }
    &:disabled {
      background-color: #cccccc;
    }
  }
}
